body{
    background-color: antiquewhite;
    background: no-repeat center center fixed;
    background-size: cover;
}table{
    border-collapse: collapse;
    color: white;
    font-size: small;
}
#year,#month{
    background-color: rgba(29,29,29,0.89);
}
#year select,#month select{
    width:95%;
    height:95%;
    margin:0 auto;
}
#daysofweek{
    background-color: rgba(73,84,66,0.78);
}
#daysofweek th{
    border: 1px solid rgba(29,29,29,0.89);
    width: 35px;
}

tbody td{
    color: aqua;
    border:1px solid rgba(73,84,66,0.78);
    text-align: center;
    background-color: #000000;
}
tbody td:nth-of-type(7){
    color:red;
}
tbody td:nth-of-type(6){
    color:blue;
}